<html>

<head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="./../css/bootstrap.min.css" />
</head>

<body>
    <div class="card">
        <div class="card-header">User Login</div>
        <div class="card-body">
            <from>
                <div class="form-group">
                    <label for="usr">Name:</label>
                    <input type="text" name="username" class="form-control" id="username" />
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="password" class="form-control" id="password" />
                </div>
                <div class="form-group">
                    <button type="button" name="submit" id="submit" class="btn btn-info">
              Submit
            </button>
                </div>
            </from>
        </div>
    </div>
    <br /><span id="result"></span>
    <table id="record"></table>
</body>
<script type="text/javascript" src="./../js/jquery-3.5.1.js"></script>

<script type="text/javascript" src="./../js/index.js"></script>
<script type="text/javascript" src="./../js/bootstrap.min.js"></script>

</html>