<html>

<head>
    <meta charset="UTF-8" />
    <title>BillingApp - Person Master</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="./../css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../css/dropdown.css" />
    <script type="text/javascript" src="./../js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="./../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./../js/dropdown.js"></script>

</head>

<body>
    <div class="card">
        <div class="card-header">Payment Recipt</div>
        <div class="card-body">
            <from>
                <div class="form-group">
                    <label for="type">Recipt Number:</label>
                    <input type="text" name="reciptNo" class="form-control" id="reciptNo" />
                </div>
                <div class="form-group">
                    <label for="address">Date:</label>
                    <input type="date" name="reciptDate" class="form-control" id="reciptDate" />
                </div>
                <div class="form-group">
                    <label for="name">Party Name:</label>

                    <input onclick="myFunction()" type="text" name="partyName" class="form-control" id="partyName" />
                    <div class="dropdown">
                        <!--     <button onclick="myFunction()" class="dropbtn">Select Party Name</button>-->
                        <div id="partyNameDropDown" class="dropdown-content">
                            <!--<a href="#about" onclick="selectedParty('About')">About</a>
                                WILL BE APPENDED ON PAGELOAD EVENT
                            -->

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="state">Amount:</label>
                    <input type="text" name="amount" class="form-control" id="amount" />
                </div>
                <div class="form-group">
                    <label for="gst">Remark:</label>
                    <input type="text" name="remark" class="form-control" id="remark" />
                </div>
                <div class="form-group">
                    <button type="button" name="submit" id="submit" class="btn btn-info">
                Submit
              </button>
                </div>
            </from>
        </div>

    </div>

    <br /><span id="result"></span>
    <table id="record"></table>
</body>


<script type="text/javascript" src="./../js/transPaymentRecipt.js"></script>
<script type="text/javascript" src="./../js/dropdown.js"></script>

</html>